.background-image {
    position: fixed; /* برای ثابت نگه داشتن پس‌زمینه */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bak.webp'); /* مسیر تصویر بک‌گراند */
    background-size: cover; /* تصویر کل صفحه را پوشش می‌دهد */
    background-position: center; /* موقعیت مرکز تصویر */
    background-repeat: no-repeat;
    z-index: -1; /* پشت تمام محتوای صفحه قرار می‌گیرد */
    filter: blur(8px); /* محو کردن تصویر */
}

.content {
    position: relative; /* محتوای اصلی صفحه */
    z-index: 1; /* اطمینان از اینکه روی بک‌گراند نمایش داده می‌شود */
}
